<% layout('layouts/boilerplate')%>

<div class="container  index-top-half-div-1 text-white today-upcoming-mobile">
	<div class="index-top-half-div-2">
		<header class="header text-center">
			<h1>All Reminders</h1>
			<div>
				<a href="/friends/new" id="add-friend" class=" btn btn-teal btn-index btn-lg">Add Reminder</a>
			</div>
		</header>
	
		<% let NumberOfItems = 0 %> 
		<section class="section-today">
			<h2 class="text-center ">Today</h2>
		
			<% for (let friend of friends){ %> 
				<% if (friend.author.id==currentUser._id) { %>
				<% if (friend.nextDate==todayDate) {%> 
					<% NumberOfItems =  NumberOfItems+1%> 
				<div class="card card-today" mb-3>
					<div class="  row row-card">
						<div class="col-md-8">
							<div class="card-body today-center">
								<h5 class="card-title card-title-main">
						<%if (friend.name.length > 23){ %>
							<%= friend.name.substring(0, 20) %>...
						<% }else{%>
							<%= friend.name %>
							<%} %>
						</h5>
								<h5 class="card-title">  Almost No Time Left! </h5>
								<% //some reason friend.displayedNextDate shows one day before here %> 
									<% let displayNext = friend.baseDate.addDays(friend.level).toDateString() %> 
									 
									<h5 class="card-title">  <%= displayNext %> </h5>
								
								<a class="btn  btn-teal btn-index" href="/friends/<%=friend._id%>">View 
									<%if (friend.name.length > 23){ %>
										<%= friend.name.substring(0, 20) %>...
									<% }else{%>
										<%= friend.name %>
										<%} %>
								</a>
							</div>
						</div>
					</div>

					
					
				</div> 
			<% } %> 
			<% } %>
			<% } %>

			<% if(NumberOfItems == 0){ %> 
				<h4 class="placeholder-top-half">No Reminders Today</h4>
				
			<% } %> 

		</section>
			
	
		
<div class="section-upcoming">
			<h2 class="text-center ">Upcoming</h2>
			<% for (let i = 0; i < upcomingDays.length; i++) { %> 
			<% for (let friend of friends){ %> 
				<% if (friend.author.id==currentUser._id) { %>
				<% if (friend.nextDate==upcomingDays[i]) {%> 
					<% NumberOfItems =  NumberOfItems+1%> 
					<div class="card card-upcoming" mb-3>
						<div class="row row-card">
							<div class="col-md-8">
								<div class="card-body">
									<h5 class="card-title card-title-main">
						<%if (friend.name.length > 23){ %>
							<%= friend.name.substring(0, 20) %>...
						<% }else{%>
							<%= friend.name %>
							<%} %>
						</h5>
									<% if ( i == 0){ %> 
										<h5 class="card-title">  <%= i+1 %> Day Left! </h5>
										<% }else{ %> 
											<h5 class="card-title">  <%= i+1 %> Days Left! </h5>
											<% } %> 
									
									<% //some reason friend.displayedNextDate shows one day before here %> 
									<% let displayNext = friend.baseDate.addDays(friend.level).toDateString() %> 
									 
									<h5 class="card-title">  <%= displayNext %> </h5>
									<a class="btn  btn-teal btn-index" href="/friends/<%=friend._id%>">View 
										<%if (friend.name.length > 23){ %>
											<%= friend.name.substring(0, 20) %>...
										<% }else{%>
											<%= friend.name %>
											<%} %>
									</a>
								</div>
							</div>
						</div>
					</div> 
				<% } %> 
				<% }%> 
				<% } %>
				<% } %>

				<% if(NumberOfItems == 0){ %> 
					<h4 class="placeholder-top-half">No Reminders for the next 7 Days</h4>
					
				<% } %> 
	</div>
	
</div>	
</div>

<div class="text-center text-white categories-heading">
	<h2 >Categories</h2>
</div>

<div class="section-categories text-white">
		
	<section class="section-people">
		<h2 class="category-heading">People</h2>
		<% let count = 1 %> 
			<% for (let friend of friends){%> 
				<% if (friend.author.id==currentUser._id) { %>
			<% if (friend.category=="People" ){ %>
				
			<div  class="card card-section ">
				<% if(count % 2 == 0){ %> 
					<div id="" class="row row-card card-category-even">
					<% }else{ %> 
						<div id="" class="row row-card card-category-odd">
						<% } %> 
				
					<div class="col-md-8">
						<% if(count % 2 == 0){ %> 
							<div class="card-body card-category-even ">
							<% }else{ %> 
								<div class="card-body card-category ">
								<% } %> 
						
							<h5 class="card-title card-title-main">
						<%if (friend.name.length > 23){ %>
							<%= friend.name.substring(0, 20) %>...
						<% }else{%>
							<%= friend.name %>
							<%} %>
						</h5>
						<% //some reason friend.displayedNextDate shows one day before here %> 
						<% let displayNext = friend.baseDate.addDays(friend.level).toDateString() %> 
						 
						<h5 class="card-title">  <%= displayNext %> </h5>
							<p class="card-text">
								<small class="text-muted"> <%= friend.description.substring(0, 22)%> </small>

							</p>
							<a class="btn  btn-teal btn-index" href="/friends/<%=friend._id%>"
								>View 
								<%if (friend.name.length > 23){ %>
									<%= friend.name.substring(0, 20) %>...
								<% }else{%>
									<%= friend.name %>
									<%} %>
							</a>
						</div>
					</div>
				</div>
			</div>
			<% count = count +1 %>

			<% } %>
			
			 <% }%>
			 <% }%>
	</section>
			

	<section class="section-life">
		<h2 class="category-heading">Life Maintenance</h2>
		<% count = 1 %>
		<% for (let friend of friends){%> 
			<% if (friend.author.id==currentUser._id) { %>
		<% if (friend.category=="Life Maintenance" ){%>
			<div  class="card card-section ">
				<% if(count % 2 == 0){ %> 
					<div id="" class="row row-card card-category-even">
					<% }else{ %> 
						<div id="" class="row row-card card-category-odd">
						<% } %> 
				
					<div class="col-md-8">
						<% if(count % 2 == 0){ %> 
							<div class="card-body card-category-even ">
							<% }else{ %> 
								<div class="card-body card-category ">
								<% } %> 
						
							<h5 class="card-title card-title-main">
						<%if (friend.name.length > 23){ %>
							<%= friend.name.substring(0, 20) %>...
						<% }else{%>
							<%= friend.name %>
							<%} %>
						</h5>
						<% //some reason friend.displayedNextDate shows one day before here %> 
						<% let displayNext = friend.baseDate.addDays(friend.level).toDateString() %> 
						 
						<h5 class="card-title">  <%= displayNext %> </h5>
							<p class="card-text">
								<small class="text-muted"> <%= friend.description.substring(0, 22)%> </small>

							</p>
							<a class="btn  btn-teal btn-index" href="/friends/<%=friend._id%>"
								>View 
								<%if (friend.name.length > 23){ %>
									<%= friend.name.substring(0, 20) %>...
								<% }else{%>
									<%= friend.name %>
									<%} %>
							</a>
						</div>
					</div>
				</div>
			</div>
			<% count = count +1 %>

			<% } %>
			<% } %>
			
			 <% }%>
	</section>
			
		
	<section class="section-other">
		<h2 class="category-heading">Other</h2>
		<% count = 1 %>
		<% for (let friend of friends){%> 
			<% if (friend.author.id==currentUser._id) { %>
		<% if (friend.category=="Other" ){%>
			<div  class="card card-section ">
				<% if(count % 2 == 0){ %> 
					<div id="" class="row row-card card-category-even">
					<% }else{ %> 
						<div id="" class="row row-card card-category-odd">
						<% } %> 
				
					<div class="col-md-8">
						<% if(count % 2 == 0){ %> 
							<div class="card-body card-category-even ">
							<% }else{ %> 
								<div class="card-body card-category ">
								<% } %> 
						
							<h5 class="card-title card-title-main">
						<%if (friend.name.length > 23){ %>
							<%= friend.name.substring(0, 20) %>...
						<% }else{%>
							<%= friend.name %>
							<%} %>
						</h5>
						<% //some reason friend.displayedNextDate shows one day before here %> 
						<% let displayNext = friend.baseDate.addDays(friend.level).toDateString() %> 
						 
						<h5 class="card-title">  <%= displayNext %> </h5>
							<p class="card-text">
								<small class="text-muted"> <%= friend.description.substring(0, 22)%> </small>

							</p>
							<a class="btn  btn-teal btn-index" href="/friends/<%=friend._id%>"
								>View 
								<%if (friend.name.length > 23){ %>
									<%= friend.name.substring(0, 20) %>...
								<% }else{%>
									<%= friend.name %>
									<%} %>
							</a>
						</div>
					</div>
				</div>
			</div>
			<% count = count +1 %>

			<% } %>
			<% } %>
			
			 <% }%>
	</section>
</div>

