
    <% layout('layouts/boilerplate')%>

    <h1>All friends</h1>
    <div>
        <a href="/friends/new">Add friend</a>
    </div>
    <% for (let friend of friends){%>
    <div class="card" mb-3>
        <div class="row">
           
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title"><%= friend.name %> </h5>
                    <p class="card-text"><%= friend.level %></p>
                    <p class="card-text">
                        <small class="text-muted"><%= friend.description%></small>
                    </p>
                    <a class="btn btn-primary" href="/friends/<%=friend._id%>">View <%=friend.name%></a>
                </div>
            </div>
        </div>
    </div>
    <% }%>