<% layout('layouts/boilerplate')%>

<% console.log(friend) %> 
<div class="center-show">
    <div class="row row-card show-row">
        <div class="col-6 ">
            <div class="card mb-3">
                <div class="card-body">
                    <h5 class="card-title"><%= friend.name%></h5>
                    <h5 class="card-title">
                        <%= friend.category%>
                    </h5>
                    <p class="card-text"><%= friend.level%></p>
                    <p class="card-text">NEXT TEXT: <%= friend.nextDate%></p>
                    <p class="card-text">NEXT TEXT: <%= friend.displayedNextDate%></p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item text-description">
                        <%= friend.description%>
                    </li>
                </ul>
                <div class="card-body">
                    <a class="card-link btn btn-info" href="/friends/<%=friend._id%>/edit">Edit</a>
                    <form class="d-inline" action="/friends/<%=friend._id%>?_method=DELETE" method="POST">
                        <button class="btn btn-danger">Delete</button>
                    </form>
                </div>
              
            </div>
        </div>
    </div>
</div>
    