<% layout('layouts/boilerplate')%>

<% console.log(friend) %> 
<div class="center-show">
    <div class="row row-card show-row">
        <div class="col-6 ">
            <div class="card mb-3">
                <div class="card-body">
                    <h4 class="card-title mb-3"><%= friend.name%></h4>
                    <p class="card-text">
                        Category : <%= friend.category%>
                    </p>
                    
                    <% if(friend.level ==1){ %> 
                        <p class="card-text">Frequency : Every day</p>

                    <%}else {  %> 
                        <p class="card-text"> Frequency : Every <%= friend.level%> days</p>

                    <% } %>     

                    <p class="card-text">Next Scheduled for <span class="teal-colour"><%= friend.displayedNextDate%></span></p>
                </div>
                <% if(friend.description == "  "){ %> 
                    <ul class="list-group list-group-flush pb-3">
                        <li class="list-group-item text-description">
                             <%= friend.description%>
                        </li>
                    </ul>
                <% }else { %> 
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item text-description">
                             <%= friend.description%>
                        </li>
                    </ul>
                <% } %>          
              
                <div class="card-body">
                    <a class="card-link btn btn-info" href="/friends/<%=friend._id%>/edit">Edit</a>
                    <form class="d-inline" action="/friends/<%=friend._id%>?_method=DELETE" method="POST">
                        <button class="btn btn-danger">Delete</button>
                    </form>
                </div>
              
            </div>
        </div>
    </div>
</div>
    